.main-container{
    display: flex;
}

#explanation{
    display: block;
    color: #a1a1a1;
    font-size: 0.7rem;
    text-align: center;
    font-style: italic;
}

textarea, input {
    margin-top: 10px;
    width: 75%;
    min-width: 30vw;
}

#name-input{
    height: 2rem;
}

#email-input{
    height: 20vh;
}

.input-container{
    align-items:start;
    justify-content: initial;
    text-align: left;
    font-weight: bold;
}

#email-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* TABLETS */
@media screen and (max-width: 1100px) and (min-width: 851px){

    textarea, input {
        width: 90vw;
        min-width: 30vw;
    }

    .main-container{
        display: block;
    }

}

/* SMARTPHONES */
@media screen and (max-width: 850px) {

    textarea, input {
        width: 85vw;
        min-width: 30vw;
    }

    .main-container{
        display: block;
    }

}