footer{
    min-height: 15vh;
    width: 100%;
    background: black;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: block;
    margin-top: 25px;
}

footer p {
    font-size: 0.7rem;
}