@import "modal.css";

.gallery-wrap{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: space-between;
}

.gallery-wrap-photo{
    padding: 10px;
    width: 33%;
    flex: 0 0 33%;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    user-select: none;

    --aspect-ratio: calc(100% * 0.66); /* 3:2 */
    height: var(--aspect-ratio);
}

.gallery-wrap-photo:hover {
    transform: scale(1.025);
}

.title-navigation-container{
    overflow-x: hidden;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    padding: 17px 0 17px 0;
    margin: 0 10px 0 10px;
    justify-content: space-between;
}

.title-navigation-current{
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    font-weight: bold;
    padding: 0 5px 0 5px;
}

.title-navigation-link{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    color: white;
    font-weight: lighter;
    padding: 0 5px 0 5px;
    transition: transform 0.3s ease;
}

.title-navigation-link:hover{
    transform: scale(1.1);
}

.next-prev-container{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/* TABLETS */
@media screen and (max-width: 1100px) and (min-width: 851px){

    .gallery-wrap-photo{
        width: 50%;
        flex: 0 0 50%;
    }

}

/* SMARTPHONES */
@media screen and (max-width: 850px) {

    .gallery-wrap-photo{
        width: 100%;
        flex: 0 0 100%;
    }

}

/* NAVIGATION MANAGEMENT */
@media screen and (max-width: 1475px){

    .title-navigation-container{
        text-align: center;
    }

    .title-navigation-current{
        width: 100%;
    }

    .title-navigation-link{
        display: none;
    }

}