/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    padding-left: calc(5vw + 10px);
    padding-right: calc(5vw + 10px);
    box-sizing: border-box;

    display: block;
    max-height: 80vh;
    max-width: 90vw;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 3rem;
    font-weight: normal;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* ARROWS */

.modal-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    color: white;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
    z-index: 2;
}

.modal-arrow:hover {
    opacity: 1;
}

.modal-arrow-left {
    left: 5vw;
}

.modal-arrow-right {
    right: 5vw;
}

/* TABLETS */
@media screen and (max-width: 1100px) and (min-width: 851px){

    .modal-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .modal-arrow-left {
        left: 10px;
    }

    .modal-arrow-right {
        right: 10px;
    }

}

/* SMARTPHONES */
@media screen and (max-width: 850px) {

    .modal-content {
        padding-left: 20px;
        padding-right: 20px;
    }

    .modal-arrow-left {
        left: 10px;
    }

    .modal-arrow-right {
        right: 10px;
    }

}